<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD47BSQjbK83Tn10rOZIvQqabfvj6MmB3M</string>
	<key>GCM_SENDER_ID</key>
	<string>4892977441</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.metareverse.voiceapp</string>
	<key>PROJECT_ID</key>
	<string>voiceapp-a0467</string>
	<key>STORAGE_BUCKET</key>
	<string>voiceapp-a0467.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:4892977441:ios:cfe6378cb9b2c034787660</string>
</dict>
</plist>